<nav class="navbar navbar-expand navbar-light bg-light">
  <a class="navbar-brand" href="#"><img src="/assets/images/logo.png" height="60"></a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-link active" routerLink="">Trips<span class="visually-hidden">(current)</span></a>
    </div>
    <div class="navbar-nav ms-auto pe-3">
      <a class="nav-link" routerLink="login" *ngIf="!isLoggedIn()">Log In</a>
      <span class="navbar-text me-3" *ngIf="isLoggedIn()">Welcome, {{ getUserName() }}</span>
      <a class="nav-link" style="cursor:pointer" (click)="onLogout()" *ngIf="isLoggedIn()">Log Out</a>
    </div>
  </div>
</nav>
