<div class="row">
  <div class="col-12 col-md-8">
    <h2>Login</h2>
    <form (ngSubmit)="onLoginSubmit()">
      <div role="alert" *ngIf="formError" class="alert alert-danger">
        {{ formError }}
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email Address</label>
        <input type="email" class="form-control" name="email" placeholder="Enter email address" [(ngModel)]="credentials.email">
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="e.g 12+ alphanumerics"
          [(ngModel)]="credentials.password">
      </div>
      <div class="mt-3">
        <button type="submit" role="button" class="btn btn-primary">
          Sign In!
        </button>
      </div>
    </form>
  </div>
</div>
