<div id="header">
    <div id="logo">
        <a href="/"><img src="images/logo.png" alt="LOGO" height="100" width="200"></a>
    </div>
    {{#if isLoggedIn}}
    <div id="user-greeting">Welcome, {{userName}}</div>
    {{/if}}
    <div id="navigation">
        <ul>
            <li {{#if (eq navPage 'home')}}class="selected"{{/if}}>
                <a href="/">Home</a>
            </li>
            <li {{#if (eq navPage 'travel')}}class="selected"{{/if}}>
                <a href="/travel">Travel</a>
            </li>
            <li {{#if (eq navPage 'rooms')}}class="selected"{{/if}}>
                <a href="/rooms">Rooms</a>
            </li>
            <li {{#if (eq navPage 'meals')}}class="selected"{{/if}}>
                <a href="/meals">Meals</a>
            </li>
            <li {{#if (eq navPage 'news')}}class="selected"{{/if}}>
                <a href="/news">News</a>
            </li>
            <li {{#if (eq navPage 'about')}}class="selected"{{/if}}>
                <a href="/about">About</a>
            </li>
            <li {{#if (eq navPage 'contact')}}class="selected"{{/if}}>
                <a href="/contact">Contact</a>
            </li>
            {{#if isLoggedIn}}
            <li {{#if (eq navPage 'my-trips')}}class="selected"{{/if}}>
                <a href="/my-trips">My Trips</a>
            </li>
            <li>
                <a href="/logout">Logout</a>
            </li>
            {{else}}
            <li {{#if (eq navPage 'login')}}class="selected"{{/if}}>
                <a href="/login">Login</a>
            </li>
            {{/if}}
        </ul>
    </div>
</div>
