<div id="contents">
	<div class="box">
		<div>
			<div class="body">
				<h1>About</h1>
				<h2>We Have Free Templates for Everyone</h2>
				{{#each intro}}
				<p>{{this}}</p>
				{{/each}}
				<hr>
				<div class="ads">
					{{#each sections}}
					<h2>{{this.heading}}</h2>
					<p>{{this.body}}</p>
					{{/each}}
				</div>
			</div>
		</div>
	</div>
</div>
