<div id="contents">
	<div class="box">
		<div>
			<div id="auth" class="body">
				<h1>Book a Trip</h1>
				<p>Online booking is coming soon. To reserve your spot on trip <strong>{{tripCode}}</strong>, please contact us directly:</p>
				<p><a href="/contact">Contact Travlr Getaways</a></p>
				<p><a href="/travel">Back to Travel</a></p>
			</div>
		</div>
	</div>
</div>
