<div id="contents">
	<div class="box">
		<div>
			<div id="contact" class="body">
				<h1>Login</h1>
				{{#if error}}
				<p class="error">{{error}}</p>
				{{/if}}
				<form action="/login" method="post">
					<table>
						<tbody>
							<tr>
								<td>Email:</td>
								<td><input type="email" name="email" value="" class="txtfield"></td>
							</tr>
							<tr>
								<td>Password:</td>
								<td><input type="password" name="password" value="" class="txtfield"></td>
							</tr>
							<tr>
								<td></td>
								<td><input type="submit" value="Login" class="btn"></td>
							</tr>
						</tbody>
					</table>
				</form>
				<p><a href="/signup">Don't have an account? Sign up</a></p>
			</div>
		</div>
	</div>
</div>
