<div id="contents">
	<div class="box">
		<div>
			<div id="auth" class="body">
				<h1>My Trips</h1>
				<p>Itinerary management is coming soon. Once available, you will be able to view your upcoming trip reservations and booking details here.</p>
				<p><a href="/travel">Browse available trips</a></p>
			</div>
		</div>
	</div>
</div>
